
<div class="container">
<input type="text" class="" id="chicho" placeholder="Inserta Almacen..." 
aria-label="Buscar" aria-describedby="button-addon2" 
[(ngModel)]="almacen"/><button type="button" (click)="ListarPisos()" class="btn btn-outline-primary">Pisos</button>
<br>
<select [(ngModel)]="codigoPiso" class="custom-select mr-sm-2" id="chicho">
<option *ngFor ="let piso of pisos">{{piso.Niveles}}</option>
</select>
<button type="button" (click)="ListarNichos()" class="btn btn-outline-primary">lista de nichos</button>

</div>

<table id="matrix" class="table-responsive">
  <!-- <tr *ngFor="let nicho of nichos" >
    <td ROWSPAN="10">
        <button id="b1" >{{nicho.Nivel}}{{nicho.DescripcionUbicacion}}{{nicho.NichoNumero}}<h4 id="cant:">{{nicho.Cantidad}}</h4> </button> 
    </td>
  </tr> -->
  <tr *ngFor="let letra of letras">
    <ng-container *ngFor="let nicho of nichos">
    <td  id='hola' *ngIf="letra == nicho.DescripcionUbicacion" >
      <!-- <div *ngIf="letra == nicho.DescripcionUbicacion">   -->
      <button  mat-button (click)="openDialog(letra,nicho.NichoNumero)" id="b1"  
       [ngClass]="{ 'azul': nicho.Cantidad >5,'morado': nicho.PorcentajeVolumen >80, 'rojo': nicho.Cantidad <=5 }" >
       
       {{letra}}  {{nicho.NichoNumero}}
       <h2 id="cant">Cant: {{nicho.Cantidad}} </h2> 
        
       <h6>{{nicho.PorcentajeVolumen}}%</h6>
       <progress class="prog"  value="{{nicho.PorcentajeVolumen}}" max='100'></progress></button>  
      <!-- </div> -->
    </td>
  </ng-container>
    <br>
  </tr>




 

 
</table>
