
.form-control{
    width: 50%;
    height: 50%;
}
#chicho{
    width: 50%;
    height: 50%;
}

tr{
color:white;
font-size: small;
font-style: italic;
}
div {
    border: 1px solid blue;
    text-align: center;
    padding: 5px;
  }
  
#matrix {
    border: 1px solid red;
    margin: 0 auto;
    padding: 5px;
  }
  
#cant  {
    font-size: 15px;
  }
  /* #matrix td {
    padding: 5px;
  } */
 
#matrix button {
    height: 100px;
    width: 100px;
    border: none;
    font-family: helvetica;
    font-weight: bold;
  }
  
#b3 {
    background-color: rgba(255, 153, 51, 0.5);
  }
  
#b1:hover, #b3:hover {
    background-color: #7fffd4;
    border-radius: 9px;
  }
#b1{
    border-radius: 9px;
}
#b4 {
    background-color: rgba(189, 15, 15, 0.6);
  }
  
#b4:hover {
    background-color: rgb(189, 15, 15);
  }

.azul {
color:black;
background-color: #cdcdcd;
}
     
.rojo {
color:black;
background-color:rgb(214, 78, 78);
}
.morado {
    color:black;
    background-color: #fbcd4b;
    }

progress
{ 
    width:  95%;
    height: 20%;
    border-radius: 9px;
    
}
.prog::-webkit-progress-value {background-image:
-webkit-linear-gradient( 135deg,
                                                 transparent,
                                                 transparent 33%,
                                                 rgba(0,0,0,.1) 33%,
                                                 rgba(0,0,0,.1) 66%,
                                                 transparent 66%),
-webkit-linear-gradient( top,
                                                    rgba(255, 255, 255, .25),
                                                    rgba(0,0,0,.2)),
 -webkit-linear-gradient( left, #09c, #09c);

}
progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #09c,  #09c);
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }

h6{
    font-size: 10px;
    align-content: stretch;

}




