<div style="text-align:center"> 
  
  <app-componente-tarea></app-componente-tarea>
</div>
  <div class="container">
      <div class="row">      
         
        <div class="col input-group">
              <br>
              <!--
              <input type="text" class="form-control" placeholder="Nicho..." 
              aria-label="Buscar" aria-describedby="button-addon2" 
              [(ngModel)]="nicho" > -->
            </div>

            <div class="col input-group">
              
              <br>

              <!--<select type="text" class="form-control" placeholder="Usuario..." aria-label="Buscar" aria-describedby="button-addon2" 
              [(ngModel)]="usuario">
               
              </select>-->
            
            </div>
            <button type="button" class="btn btn-primary" (click)="fnListarHistoria()">List Customer the Bank</button>
            
      </div>
      <br>
<router-outlet></router-outlet>
<div class="table-responsive-md">
<table class="table">
  <thead class="thead-dark">
    <tr>               
      <th scope="col">id</th>
      <th scope="col">Fecha de Creación</th>
      <th scope="col">Cuenta Origen</th>
      <th scope="col">Cuenta Destino</th>
      <th scope="col">Monto</th>
      

    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Historial of historials">
      <th>{{Historial.id}}</th>
      <th>{{Historial.create_time}}</th>
      <th>{{Historial.originAccountNumber}}</th>
      <th>{{Historial.destinationAccountNumber}}</th>
      <th>{{Historial.amount}}</th>

    

    </tr>
  </tbody>

</table>
</div>